<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <nav class="navbar">
    <div class="logo">CV Analyzer</div>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <ul class="nav-links">
       <li><a href="/">Home</a></li>
  <li><a href="/single">Analyze CV</a></li>
  <li><a href="/batch">Batch Analysis</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/login">Login</a></li>
    </ul>
  </nav>
</body>
</html>